################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/trunk/Common/obj/Debug
/trunk/Common/bin/Debug
/trunk/DBUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/DBUtility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/trunk/DBUtility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/trunk/DBUtility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/trunk/DBUtility/obj/Debug/DBUtility.pdb
/trunk/DBUtility/obj/Debug/DBUtility.dll
/trunk/DBUtility/obj/Debug/DBUtility.csprojResolveAssemblyReference.cache
/trunk/DBUtility/obj/Debug/DBUtility.csproj.FileListAbsolute.txt
/trunk/EF.RBAC/bin/zh-Hans
/trunk/EF.RBAC/bin/WebGrease.dll
/trunk/EF.RBAC/bin/System.Web.WebPages.xml
/trunk/EF.RBAC/bin/System.Web.WebPages.Razor.xml
/trunk/EF.RBAC/bin/System.Web.WebPages.Razor.dll
/trunk/EF.RBAC/bin/System.Web.WebPages.dll
/trunk/EF.RBAC/bin/System.Web.WebPages.Deployment.xml
/trunk/EF.RBAC/bin/System.Web.WebPages.Deployment.dll
/trunk/EF.RBAC/bin/System.Web.Razor.xml
/trunk/EF.RBAC/bin/System.Web.Razor.dll
/trunk/EF.RBAC/bin/System.Web.Optimization.xml
/trunk/EF.RBAC/bin/System.Web.Optimization.dll
/trunk/EF.RBAC/bin/System.Web.Mvc.xml
/trunk/EF.RBAC/bin/System.Web.Mvc.dll
/trunk/EF.RBAC/bin/System.Web.Http.xml
/trunk/EF.RBAC/bin/System.Web.Http.WebHost.xml
/trunk/EF.RBAC/bin/System.Web.Http.WebHost.dll
/trunk/EF.RBAC/bin/System.Web.Http.Owin.xml
/trunk/EF.RBAC/bin/System.Web.Http.Owin.dll
/trunk/EF.RBAC/bin/System.Web.Http.dll
/trunk/EF.RBAC/bin/System.Web.Helpers.xml
/trunk/EF.RBAC/bin/System.Web.Helpers.dll
/trunk/EF.RBAC/bin/System.Net.Http.Formatting.xml
/trunk/EF.RBAC/bin/System.Net.Http.Formatting.dll
/trunk/EF.RBAC/bin/roslyn
/trunk/EF.RBAC/bin/Owin.dll
/trunk/EF.RBAC/bin/Newtonsoft.Json.xml
/trunk/EF.RBAC/bin/Newtonsoft.Json.dll
/trunk/EF.RBAC/bin/Model.pdb
/trunk/EF.RBAC/bin/Model.dll
/trunk/EF.RBAC/bin/Microsoft.Web.Infrastructure.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Twitter.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Twitter.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.OAuth.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.OAuth.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Google.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Google.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Facebook.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Facebook.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Cookies.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Security.Cookies.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.Host.SystemWeb.xml
/trunk/EF.RBAC/bin/Microsoft.Owin.Host.SystemWeb.dll
/trunk/EF.RBAC/bin/Microsoft.Owin.dll
/trunk/EF.RBAC/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/trunk/EF.RBAC/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.Owin.xml
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.Owin.dll
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.Core.xml
/trunk/EF.RBAC/bin/Microsoft.AspNet.Identity.Core.dll
/trunk/EF.RBAC/bin/Microsoft.ApplicationInsights.xml
/trunk/EF.RBAC/bin/Microsoft.ApplicationInsights.dll
/trunk/EF.RBAC/bin/Microsoft.AI.WindowsServer.xml
/trunk/EF.RBAC/bin/Microsoft.AI.WindowsServer.dll
/trunk/EF.RBAC/bin/Microsoft.AI.Web.xml
/trunk/EF.RBAC/bin/Microsoft.AI.Web.dll
/trunk/EF.RBAC/bin/Microsoft.AI.ServerTelemetryChannel.xml
/trunk/EF.RBAC/bin/Microsoft.AI.ServerTelemetryChannel.dll
/trunk/EF.RBAC/bin/Microsoft.AI.PerfCounterCollector.dll
/trunk/EF.RBAC/bin/Microsoft.AI.DependencyCollector.xml
/trunk/EF.RBAC/bin/Microsoft.AI.DependencyCollector.dll
/trunk/EF.RBAC/bin/Microsoft.AI.Agent.Intercept.dll
/trunk/EF.RBAC/bin/EntityFramework.xml
/trunk/EF.RBAC/bin/EntityFramework.SqlServer.xml
/trunk/EF.RBAC/bin/EntityFramework.SqlServer.dll
/trunk/EF.RBAC/bin/EntityFramework.dll
/trunk/EF.RBAC/bin/EF.RBAC.pdb
/trunk/EF.RBAC/bin/EF.RBAC.dll.config
/trunk/EF.RBAC/bin/EF.RBAC.dll
/trunk/EF.RBAC/bin/DBUtility.pdb
/trunk/EF.RBAC/bin/DBUtility.dll
/trunk/EF.RBAC/bin/Common.pdb
/trunk/EF.RBAC/bin/Common.dll
/trunk/EF.RBAC/bin/ApplicationInsights.config
/trunk/EF.RBAC/bin/Antlr3.Runtime.pdb
/trunk/EF.RBAC/bin/Antlr3.Runtime.dll
/trunk/EF.RBAC/obj/Debug
/trunk/Model/bin/Debug
/trunk/Model/obj/Debug
/trunk/DBUtility/bin/Debug
