<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid-bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.datagrid.js"></script>
    <script src="~/Scripts/bootstrap.messager.js"></script>

    <script src="~/Scripts/Guriddo_jqGrid_JS_5.2.1/js/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Guriddo_jqGrid_JS_5.2.1/js/i18n/grid.locale-cn.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
