@{
    ViewBag.Title = "帮助";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}
<style>
    ul {
        list-style-type: decimal;
        font-size:13px;
    }

    li {
        line-height: 18px;
    }
</style>
<ul>
    <li>
        <b><a href="#" name="role">角色管理</a></b>
        <ul>
            <li>角色分配权限处于批量操作，方便进行快速操作。</li>
            <li>如果所选角色都是<b>第一次</b>分配权限，进行批量操作不会有影响。</li>
            <li>如果所选角色有分配过权限，<b><abbr title="进行分配权限时展示的角色已经拥有的权限">展示的权限</abbr></b>只是第一个选取角色具备的权限，<abbr title="在对多角色进行分配权限时分配的权限">权限的设置</abbr>会分配给所选的每个角色（有待进一步完善）。</li>
            <li><b>对单个角色分配权限不存在影响。</b></li>
        </ul>
    </li>

    <li>
        <b><a href="#" name="user">职员管理</a></b>
        <ul>
            <li>职员管理处于批量操作，方便进行快速操作。</li>
            <li>职员添加、修改、删除、还原处于批量操作。</li>
            <li>如果所选职员都是<b>第一次</b>分配角色，进行批量操作不会有影响。</li>
            <li><mark>如果所选职员有分配过权限，仅展示第一个选取职员的角色（有待进一步完善）。</mark></li>
            <li>如果所选职员都是<b>第一次</b>分配部门，进行批量操作不会有影响。</li>
            <li><mark>如果所选职员有分配过部门，仅展示第一个选取职员的部门（有待进一步完善）。</mark></li>
            <li>如果所选职员都是<b>第一次</b>分配权限，进行批量操作不会有影响。</li>
            <li><mark>如果所选职员有分配过权限，<b><abbr title="进行分配权限时展示的用户已经拥有的权限">展示的权限</abbr></b>只是第一个职员具备的权限，<abbr title="在对多职员进行分配权限时分配的权限"><b>权限的设置</b></abbr>会分配给所选的每个职员（有待进一步完善）。</mark></li>
            <li><b>对单个职员分配角色、部门、权限不存在影响。</b></li>
        </ul>
    </li>
    <li>
        <b><a href="#" name="user">用户组管理</a></b>
        <ul>
            <li>用户组管理处于批量操作，方便进行快速操作。</li>
            <li>用户组添加、修改、删除处于批量操作。</li>
            <li>如果所选用户组都是<b>第一次</b>分配小组，进行批量操作不会有影响。</li>
            <li><mark>如果所选用户组有分配过权限，仅展示第一个选取用户组的职员（有待进一步完善）。</mark></li>
            <li>进行分配小组时，按部门筛选出属于该部门及该部门以下的所有职员。</li>
            <li><mark>小组中成员右键功能后期进行处理，目前仅展示作用。</mark></li>
            <li><mark>如果所选小组包含成员，<b><abbr title="进行分配权限时展示的用户已经拥有的权限">展示的成员</abbr></b>只是第一次选取小组中的成员，<abbr title="在对多小组分配成员时"><b>小组成员</b></abbr>会分配给所选的每个小组（有待进一步完善）。</mark></li>
            <li><b>对单个小组分配成员不存在影响。</b></li>
        </ul>
    </li>
    
</ul>