@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}
<style type="text/css">
    .datagrid {
        float: left;
        display: inline-table;
    }

    .datagrid {
    }

    .datagrid:first-of-type ~ .datagrid {
        margin-left: 20px;
    }
</style>

<script type="text/javascript">
    $(function () {
        var insertedRows = new Array();
        var updatedRows = new Array();
        var deletedRows = new Array();

        $('#tgRoles').treegrid({
            title: '用户',
            url: '/Sys_Roles/index',
            idField: 'Id',
            treeField: 'RoleName',
            rownumbers: true, //是否加行号
            iconCls: 'icon-save',
            dataType: "json",
            fitColumns: true,
            singleSelect: false,
            width: 350,
            columns: [[
                { field: "chk", checkbox: true },
                { field: 'Id', title: 'Id', width: 70, hidden: false },
                { field: 'RoleName', title: 'RoleName', width: 120, editor: { type: 'text' } },

            ]],

        });

        $('#tgDepartments').treegrid({
            title: '部门',
            url: '/Sys_Departments/index',
            idField: 'Id',
            treeField: 'DepartmentName',
            rownumbers: true, //是否加行号
            iconCls: 'icon-save',
            dataType: "json",
            fitColumns: true,
            singleSelect: false,
            width: 490,
            columns: [[
                { field: "chk", checkbox: true },
                { field: 'Id', title: 'Id', width: 70, hidden: true },
                {
                    field: 'DepartmentName', title: 'DepartmentName', width: 160
                },
                { field: 'ParentId', title: 'ParentId', width: 120, hidden: true },
                { field: 'SortNum', title: 'SortNum', width: 70, hidden: true },

            ]],


        });
        //ecs按键退出修改
        $(window).keydown(function (event) {
            //console.log(event.keyCode);
            switch (event.keyCode) {
                case 27:
                    $('#dg').datagrid('rejectChanges');
            }
        });

        $("#btnOk").on("click", function () {
            var d = {};
            //var d = new Object;
            d["Roles"] = JSON.stringify($("#tgRoles").treegrid("getSelections"));
            d["Departments"] = JSON.stringify($("#tgDepartments").treegrid("getSelections"));
            console.log(d);

            $.ajax({
                url: "Save",
                type: "post",
                data: d,
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (data.success) { }
                    $.messager.alert('提示', data.Message, 'info');

                    if (data.success) {
                        //$("#dg").datagrid("reload");
                    }
                },
                error: function (jqXHR, textStatus, errorMsg) {
                    // jqXHR 是经过jQuery封装的XMLHttpRequest对象
                    // textStatus 可能为： null、"timeout"、"error"、"abort"或"parsererror"
                    // errorMsg 可能为： "Not Found"、"Internal Server Error"等
                    alert("请求失败：" + errorMsg);
                }
            });
        });

        $("#btnCancel").on("click", function () {
            $('#win').window({ title: "Choose department", modal: true }).window("close");
        });

    });



</script>

<a id="btnOk" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" style="width:80px">Ok</a>
<a id="btnCancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" style="width:80px">Cancel</a>

<table id="tgRoles"></table>

<table id="tgDepartments"></table>